* {
    margin: 0;
    padding: 0;

    font-size: 48px;
    font-weight: bold;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;

    background-color: slateblue;
}


button {
    flex: 1;
    background-color: white;
    border-radius: 10px;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 30%;
    aspect-ratio: 9/13;

    background-color: rgb(61, 58, 58);
    border-style: none;
    border-radius: 30px;
    flex-shrink: 0;
}

.display {
    display:flex;
    justify-content: end;
    align-items: end;
    flex-shrink: 0;

    height: 27%;
    width: 90%;
    margin-bottom: 20px;

    background-color: aliceblue;
    border-radius: 10px;

    color: black;
    font: 72px;
}

.calc-row1 {
    display: flex;
    gap: 10px;
    flex-shrink: 0;

    height: 15%;
    width: 90%;
}

.calc-row2 {
    display: flex;
    gap: 10px;
    flex-shrink: 0;

    height: 15%;
    width: 90%;
}

.calc-row3 {
    display: flex;
    gap: 10px;
    flex-shrink: 0;

    height: 32%;
    width: 90%;
    gap: 5px;
}

.row3-left {
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 100%;
    width: 81%;
} 

.row3-left-top {
    display: flex;
    height: 50%;
    width: 100%;
    gap: 10px;
}

.row3-left-bottom {
    display: flex;

    height: 50%;
    width: 100%;
    gap: 10px;
}

.row3-right {
    display: flex;
    gap: 10px;
    padding-left: 5px;

    height: 100%;
    width: 19%;
}

